langgraph
langchain
langchain-ollama
langchain-google-genai
langchain-openai
langchain-anthropic
pydantic
pydantic-settings
pandas
numpy
yfinance
python-dotenv
termcolor
fastapi
uvicorn
supabase
requests
anthropic
